<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <link rel="stylesheet" href="{% static 'css/about.css' %}">
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>About Me</title>
</head>
<body>
    <section class="main">

        <div class="half1"></div>

        <div class="half2">
            <div class="left">
                <div class = "title-block">
                <h1 class = "title">EDDIE MUSASHI WARD &mdash; UI DESIGNER &mdash; TENAFLY, NJ </h1>
            </div>
                <p>My passion for coding rages like a blazing fire among trees. It perserveres like penguins in Arctic Winter.</p>
                <p><b>This Site</b><br>Developed with Django + Postgres in the backend and HTML, CSS, and Javascript in the frontend</p>
                <p>Many thanks to Youtube for everything I know about coding. Shoutout Dennis Ivy, DevEd, and Fireship.</p>
            </div>
            <div class="middle">
                <p> 
                    <b>Languages</b>
                    <br>
                    Python
                    <br>
                    Javascript
                    <br>
                    HTML
                    <br>
                    CSS
                    <br>
                    SQL
                </p>

                <p>
                    <b>Frameworks</b>
                    <br>
                    Django
                    <br>
                    Express
                    <br>
                    React
                </p>

                <p>
                    <b>My Tools</b>
                    <br>
                    AWS
                    <br>
                    GCP
                    <br>
                    Heroku
                    <br>
                    Figma
                    <br>
                    Photoshop
                    <br>
                    Postgres
                    <br>
                    Git
                </p>


            </div>
            <div class="right">
                <p>Got a Project?
                    <br>
                    Hit me up. Anytime.
                </p>
                
                <button class = "contact-btn">edward.m.ward@gmail.com</button>
                <p>You may also use this email to send me fire memes</p>
            </div>

        </div>
    </section>
</body>
</html>