
<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>About Me</title>
</head>
<body>
    <section class="main">

        <div class="half1"></div>

        <div class="half2">
            <div class="left">
                <div class = "title-block">
                <h1 class = "title">EDDIE MUSASHI WARD &mdash; FULLSTACK DEV. &mdash; TENAFLY, NJ </h1>
            </div>


            </div>
            <div class="middle">
                <p> 
                    <b>Languages</b>
                    <br>
                    Python
                    <br>
                    Javascript
                    <br>
                    HTML
                    <br>
                    CSS
                    <br>
                    SQL
                </p>

                <p>
                    <b>Frameworks</b>
                    <br>
                    Django
                    <br>
                    Express
                    <br>
                    React
                </p>

                <p>
                    <b>My Tools</b>
                    <br>
                    AWS
                    <br>
                    GCP
                    <br>
                    Heroku
                    <br>
                    Figma
                    <br>
                    Photoshop
                    <br>
                    Postgres
                    <br>
                    Git
                </p>


            </div>
            <div class="right">
                <p>Got a Project?
                    <br>
                    Hit me up. Anytime.
                </p>
                
                <button class = "contact-btn">edward.m.ward@gmail.com</button>
                <p class = "ps"><em>For all collaborations, inquiries and dank memes, feel free to reach out as well.</em></p>
            </div>

        </div>
    </section>



    <section class = "projects">
        <div class="header-box"> 
            <p class="p-header-muted">Examples of my work</p>
            <h1 class = "projects-header">Projects</h1>
        </div>


        <div class="projects-grid"> 
        <div class="project from-left-1">
            <a href="https://swipechat.herokuapp.com/" target="_blank">
            <div class="info">
                <p class = "in-progress">In Progress</p>
                <p class = "date">Jun. 2022</p>
                <h1 class = "project-name">Swipechat &mdash; video chat social media app</h1>
            </div>
            <img class = "project-image" src="{% static 'images/chat.jpg' %}" alt="">
        </a>
        </div>
        <div class="project from-right-1">
            <a href="http://redgreenapples.herokuapp.com/" target="_blank"> 
            <div class="info">
                <p class ="in-progress">In Progress</p>

                <p class = "date">Mar. 2022</p>
                <h1 class = "project-name">RGA &mdash; reviews for only the best restaurants</h1>
            </div>
            <img class = "project-image" src="{% static 'images/food.jpg' %}" alt="">
        </a>
        </div>
        <div class="project from-left-2">
            <a href="https://eddie-remind2.herokuapp.com/" target="_blank"> 
            <div class="info">
                <p class = "date">Jan. 2022</p>
                <h1 class = "project-name">Eddie-remind &mdash; task tracking app</h1>
            </div>
            <img class = "project-image" src="{% static 'images/todo.jpg' %}" alt="">
            </a>
        </div>
        <div class="project from-right-2">
            <a href="https://eddie-fortune2.herokuapp.com/" target="_blank"> 
            <div class="info">
                <p class = "date">Dec. 2021</p>
                <h1 class = "project-name">Fortune Teller &mdash;first developement project</h1>
            </div>
            <img class = "project-image" src="{% static 'images/fortune.jpg' %}" alt="">
            </a>
        </div>
        <div class="project from-left-3">
            <a href="https://github.com/eddieward21/Amazon_Review_Analysis" target="_blank">

            <div class="info">
                <p class = "date">Nov. 2021</p>
                <h1 class = "project-name"> ML &mdash; sentiment analysis</h1>
            </div>
            <img class = "project-image" src="{% static 'images/ML.jpg' %}" alt="">
            </a>
        </div>

    </div>
    </section>

    <section class="about">
      <div class="about-big-text">
        <div> 
        <p class = "about-me">About Me</p>
        <h1>Fullstack Developer &mdash; design + engineering</h1>
      </div>

        <p>
        <span>My Specialties</span>
        <br>
        UI/UX Design
          <br>
        Backend Engineering
        <br>
        Server Deployment
        <br>
        APIs
      </p>

      <p>
        <span>Years Programming</span>
        <br>
        7 months
      </p>
      
      </div>
      <div class="about-small-text">

        <p>I am a passionate and inventive fullstack developer currently living in New Jersey. I specialize in building advanced, highly polished UIs that create a memorable user experience.</p>

        <p>This site was developed with Django + Postgres in the backend and HTML, CSS, and Javascript in the frontend</p>

        <p>My main learning resource for programming is Youtube, but in some cirumstances, I read documentation to better understand the tools I use. <br> Shoutout Dennis Ivy, DevEd, and Fireship.</p>

        <p>Aside from coding, my hobbies include playing basketball, watching Youtube, eating food, hanging out with friends, and (sometimes) lifting weights.</p>

      </div>
    </section>


    <section class = "contact">
      <div class="contact-grid">
        <div class="contact-form">

        </div>
        <div class="map">

        </div>
      </div>
    </section>

    <script
    src="https://cdnjs.cloudflare.com/ajax/libs/gsap/3.6.1/gsap.min.js"
    integrity="sha512-cdV6j5t5o24hkSciVrb8Ki6FveC2SgwGfLE31+ZQRHAeSRxYhAQskLkq3dLm8ZcWe1N3vBOEYmmbhzf7NTtFFQ=="
    crossorigin="anonymous"
  ></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/ScrollMagic/2.0.6/ScrollMagic.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/ScrollMagic/2.0.6/plugins/animation.gsap.js"></script>
    <script src = "{% static 'js/script.js' %}"></script>
</body>
</html>