<!DOCTYPE html>
<html lang="en">
{% load static %}
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home</title>
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
</head>
<body>

    <nav> 
    <a href="" class = "logo">Home</a>
    <a href="" class = "logo">About</a>
    <a href="" class = "logo">Contact</a>
    </nav> 

    <section>
        <img src="{% static 'images/bg.jpg' %}" alt="">
        <img src="{% static 'images/moon.png' %}" id = "moon" alt="">
        <img src="{% static 'images/mountain.png' %}" id = "mountain" alt="">
        <img src="{% static 'images/road.png' %}" alt="">
        <h2 id="text">Welcome</h2>
        <a href="" id = "btn">Contact</a>
    </section>
    <br>
    <br>
    <div class="sec">
        <h2>fullstack Developer</h2>
        <p>I am a fullstack developer who specializes in UI/UX Design. My specialty is in Python using Django, and JS in combination with HTML and CSS to create beautiful webpages.</p>
    </div>

</body>
<script>
    let moon = document.getElementById('moon');
    let mountain = document.getElementById('mountain');
    let btn = document.getElementById('btn');

    window.addEventListener('scroll', function() {
        let value = window.scrollY;1
        mountain.style.left = value + 0.25 +  'px';
        moon.style.top = value + 1.05 + 'px';
    })

</script>
</html>