@import url('https://fonts.googleapis.com/css2?family=League+Spartan:wght@100;300;400;500&family=Montserrat:wght@100;200;300;400;500;600&family=Poppins:wght@200&family=Roboto:wght@100&display=swap');
body, html {
    font-family: 'League Spartan';
    margin: 0;
    padding: 0;

}

.projects {
    padding: 100px 8vw;
    box-sizing: border-box;
    width:100vw;
    background-color: white;
    display: grid;
    grid-template-columns: 1fr 1fr;
    justify-items: center;


}

.project {
    margin-top: 4vw;
    cursor: pointer;
    position: relative;
    height:650px;
    width:550px;
}
.project:hover > .project-image {
    opacity: 0.8;

}
.project-image {
    height:100%;
    width:100%;
    opacity: 0.9;
}

.info {
    position: absolute;
    height:30%;
    width:100%;
    padding-right:40%;
    padding-left: 45px;
    box-sizing: border-box;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    color:white;
    z-index: 3;
    
    padding-top: 25px;
}
.date {
    margin-right: auto;
    font-weight: 100;
    font-size: 13px;

}
.project-name {
    font-size: 30px;
    margin: 0;
    font-weight: 450;
    margin-right: auto;
    margin-bottom: auto;

}
