@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100;200;300;400;500;600&family=Poppins:wght@200&family=Roboto:wght@100&display=swap');

html,body {
    margin:0;
    padding:0 0px;
    font-family:'Montserrat';
    box-sizing: border-box;
    overflow-x: hidden;
}   


.main {
    height:100vh;
    width:100vw;
    padding:0 60px;
    background-image: url('/static/images/side3.png');
    object-fit: cover;
    box-sizing: border-box;
}
.half1 {
    height:40%;
    width:100%;
}
p {
    margin: 0;
    font-size: 13.5px;
    margin-right: auto;
}
.header {
    
}
.half2 {
    width:100%;
    color: white;
    height:60%;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    box-sizing: border-box;
    padding-bottom: 0px;

}
.title-block {
    padding-right: 70px;
}
.title {
    line-height:98%;
    margin:0;
    font-size: 28px;
    font-weight: 400;
}
.left {
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-direction: column;
    padding-bottom: 40px;
}
.left p {
    font-size: 14px;

}
.left b {
    font-size: 15px;
}
.middle p {
    font-size: 14px;
}

.middle {
    padding-left: 80px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-direction: column;
}
.contact-btn {
    text-decoration: none;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    font-weight: bold;
    font-size: 16px;
    border-radius: 4px;
    height:80px;
    width:380px;
    background-color: white;
    color:black;
    border:1px solid black;
    margin-right: auto;

}
.email-btn span {
    font-family: 'Montserrat';
    font-weight: 550;
}
.email-btn:hover {
    background-color: whitesmoke;
}

.ps {
    font-weight: bolder;
    font-size: 13.5px;
}
.contact-btn:hover {
    background-color: black;
    color: white;
    border: 1px solid white;
}

.right {
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-direction: column;
    padding-bottom: 140px
}

/* end about */



@import url('https://fonts.googleapis.com/css2?family=League+Spartan:wght@100;300;400;500&family=Montserrat:wght@100;200;300;400;500;600&family=Poppins:wght@200&family=Roboto:wght@100&display=swap');

.projects {    
    font-family: 'League Spartan';
    padding: 100px 8vw;
    box-sizing: border-box;
    width:100vw;
    background-color: white;



}
.header-box {
    padding-left:2vw;

}
.projects-header {
    font-size: 50px;
    margin-top: 8px;
}
.p-header-muted {
    text-transform: uppercase;
    color:rgb(173, 173, 173);
    letter-spacing: 2px;
}
.projects-grid {
    height: 100%;
    width: 100%;
    display: grid;
    grid-template-columns: 1fr 1fr;
    justify-items: center;
}

.project {
    margin-top: 4vw;
    cursor: pointer;
    position: relative;
    height:650px;
    width:550px;
}
.project a:hover > .project-image {
    opacity: 0.8;

}
.project-image {
    height:100%;
    width:100%;
    opacity: 0.9;
}
.in-progress {
    position: absolute;
    top:25px;
    right:1%;
    text-transform: uppercase;
    letter-spacing: 4px;
    font-size: 11px;
}

.info {
    position: absolute;
    height:30%;
    width:100%;
    padding-right:40%;
    padding-left: 45px;
    box-sizing: border-box;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    color:white;
    z-index: 3;
    
    padding-top: 25px;
}
.date {
    margin-right: auto;
    font-weight: 100;
    font-size: 13px;

}
.project-name {
    font-size: 30px;
    margin: 0;
    margin-top: 4px;
    font-weight: 450;
    margin-right: auto;
    margin-bottom: auto;

}

/*about */
@import url('https://fonts.googleapis.com/css2?family=League+Spartan:wght@100;300;400;500&family=Montserrat:wght@100;200;300;400;500;600&family=Poppins:wght@200&family=Roboto:wght@100;300;400;500;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=League+Spartan:wght@100;300;400;500&family=Montserrat:wght@100;200;300;400;500;600&family=Poppins:wght@100;200;300;400;500;600;700;800;900&family=Roboto:wght@100;300;400;500;700&display=swap');
.about {
    border-top: 0.1px solid rgb(122, 122, 122);
    border-bottom: 0.1px solid rgb(122, 122, 122);

    overflow-y: hidden;
    font-family: 'Poppins';
    color: rgb(154, 154, 154);
    font-weight: bolder;
    height:fit-content;
    width: 100%;
    height: 100vh;
    background-color: rgb(255, 255, 255);
    position: relative;
    padding: 100px 8vw;
    box-sizing: border-box;
    display: grid;
    grid-template-columns: 1fr 1fr;
}
.about-me {
    text-transform: uppercase;
    letter-spacing: 4px;
    color: rgb(124, 124, 124);
}
.about-big-text {
    height:100%;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-direction: column;
    box-sizing: border-box;
    padding-bottom: 6vw;
    padding-right: 200px;

}   

.about-big-text p{
    color:black
}

.about-big-text h1 {
    margin: 0;
    margin-right: auto;

    font-weight: bold;
    font-size: 30px;
    color: black;
}

.about-big-text span {
    margin-right: auto;

    text-transform: uppercase;
    font-size: 12px;
    letter-spacing: 2px;
    color: rgb(124, 124, 124);
}
.about-small-text {
    
    height:100%;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-direction: column;

}
.about-small-text p {
    font-size: 14px;
}
.contact {

    font-family: 'Poppins';
    height:100vh;
    width:100vw;
}


.map p {
    font-size: 14px;
}
.contact-bold {
    text-transform: uppercase;
    letter-spacing: 2px;
    font-family: 'Montserrat';
    font-weight: bold;
}
.map h1 {
    font-size: 40px;
    margin: 0;
    margin-right: auto;
}
.contact-grid {
    height: 100%;
    width:100%;
    display: grid;
    grid-template-columns: 1fr 1fr;
}
.contact-form {
    font-family: 'Montserrat';

    padding: 100px 8vw;
    box-sizing: border-box;
    height: 100%;
    width: 100%;
    background-color: black;
    color: white;
    border-bottom: 0.1px solid white;
}
.contact-side-text {
    padding-left: 70%;
    margin-left: auto;

}
.contact-side-text p{
font-size: 9px;
font-weight: 600;
}
.contact-form h1 {
    color:#00ac96;
    margin: 0;
    margin-top: 6px;
    font-size: 33px;
    letter-spacing: 3px;
    text-transform: uppercase;
}
.contact-form form {
    height: 100%;
    padding-top:4vw;
    padding-bottom: 200px;
    box-sizing: border-box;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-direction: column;
}
.contact-form form div{
    width: 100%;
}
.contact-bottom {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;

}
.contact-field {
    font-size: 12px;    
    margin-right: auto;
    letter-spacing: 3px;

}

.msg-btn {
    color:#00ac96;
    border:1px solid #00ac96;
    letter-spacing: 3px;
    background-color: transparent;
    height:40px;
    width:160px;
    cursor: pointer;
    margin-left: auto;

}
.msg-btn:hover {
    background-color: rgb(30, 30, 30);
}


.map {
    padding: 100px 8vw;
    padding-right: none;
    box-sizing: border-box;
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-direction: column;
    height:100%;
    color: black;
    margin-right: auto;
    width: 100%;
    background-color: white;

}
.email-btn {
    text-decoration: none;
    height:fit-content;
    color: black;
    width:200px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    border: none;
    border-bottom: 1px solid black;
}
.email-right {
    margin-left: 50%
}


input {
    outline:none;
   }

.footer {
    color: #00ac96;
    position: relative;
    display: grid;
    grid-template-columns: 1fr 1fr;
    height: 15vw;
    width:100vw;
    background-color: black;
}
.footer-txt {
    letter-spacing: 12px;
    font-family: 'Poppins';
    position: absolute;
    left:50%;
    top:50%;
    transform: translate(-50%, -50%);

}
.foot-left {
    background-color: white;
}
.foot-right {
    background-color: black;
}



.cursor {
    pointer-events: none;
    display: none;
    transform: translate(-50%,-50%);
    position: absolute;
    z-index: 999;
    border-radius: 50%;
    height: 5vh;
    width:5vh;
    border:1px solid #00ac96;
}



@media only screen and (max-width: 600px) {
    .main {
        background-position: left top;
        padding: 0 10px;
    }
    .half1{
        height: 70%;
    }
    .half2 {
        grid-template-columns: 1fr 1fr;
        gap:4vw;
        height: 30%;

    }
    .middle {
        display: none;
        
    }
    .left {
        padding-bottom: 0;
    }
    .right {
        padding-bottom: 0;
    }
    .projects-grid {
        grid-template-columns: 1fr;
        gap:1vw
    }
    .projects {
        padding-top: 50px;
    }
    .project {
        margin-top: 0;
        height:400px;
        width:300px;
    }
    .project-name {
        font-size: 22px;
    }
    .p-header-muted {
        font-size: 8px;
    }
    .projects-header {
        font-size: 25px;
    }
    .title {

    };
    .middle p {
        font-size: 12px;
    }    

    .title-block {
        padding-right: 0px;
    }
    .contact-btn {
        height:40px;
        width: 210px;
        font-size: 13px;
    };
    .left p {
        display: none;
    }
    .left b {
        display: none;
    }



    .about-small-text {
        display: none;
    }
    .about-big-text {
        padding-bottom: 0;
    }
    .contact-grid {
        grid-template-columns: 1fr;
    }
    .map {
        height: 100vh;
    }
    .footer {
        display: none;
    }



}