@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200&family=Roboto:wght@100&display=swap');
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    color: #fff;
    font-family: "Poppins", sans-serif;
  }
  nav {
    position: absolute;
    width: 100%;
    display: flex;
    padding: 3rem 10rem;
    justify-content: space-between;
  }
  .image{
      border:1px solid white;
      width:300px;
      height: 150px;
  }
  .container {
    height: 100vh;
  }

  .container img {
    width: 100%;
    position: absolute;
    height: 110vh;
    object-fit: cover;
    z-index: -1;
  }
  .main-title {
    position: absolute;
    top: 50%;
    left: 50%;
    font-size: 4rem;
    transform: translate(-50%, -30%);
  }
  .bg2 {
      z-index: 999;
  }
  
  .content {
    width: 100%;
    background: black;
    min-height: 100vh;
    z-index: 2;
    position: absolute;
    padding: 100px 100px;
    text-align: center;
  }
  .content-images {
    display: grid;
    grid-template-columns: 1fr;
    text-align: center;
    padding: 100px;
  }
  .project-info {
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
  }

  .content-images div {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 2vw;
    margin-bottom: 2vw;
  }

  
  .text {

  }








  #logo {
    position: absolute;
    top:30%;
    left: 50%;
    transform: translate(-50%, -30%);
}
#logo path:nth-child(0) {
    stroke-dasharray: 187;
    stroke-dashoffset: 187;
    animation: line-anim 2s ease forwards;
}
#logo path:nth-child(1) {
    stroke-dasharray: 235;
    stroke-dashoffset: 235;
    animation: line-anim 2s ease forwards;

}
#logo path:nth-child(2) {
    stroke-dasharray: 144;
    stroke-dashoffset: 144;
    animation: line-anim 3s ease forwards;

}
#logo path:nth-child(3) {
    stroke-dasharray: 144;
    stroke-dashoffset: 144;
    animation: line-anim 3s ease forwards;

}


#logo path:nth-child(4) {
    stroke-dasharray: 240;
    stroke-dashoffset: 240;
    animation: line-anim 4s ease forwards;

}
#logo path:nth-child(5) {
    stroke-dasharray: 163;
    stroke-dashoffset: 163;
    animation: line-anim 4s ease forwards;

}
#logo path:nth-child(6) {
    stroke-dasharray: 238;
    stroke-dashoffset: 238;
    animation: line-anim 5s ease forwards;

}
#logo path:nth-child(7) {
    stroke-dasharray: 247;
    stroke-dashoffset: 247;
    animation: line-anim 5s ease forwards;

}
#logo path:nth-child(8) {
    stroke-dasharray: 249;
    stroke-dashoffset: 249;
    animation: line-anim 6s ease forwards;

}
#logo path:nth-child(9) {
    stroke-dasharray: 277;
    stroke-dashoffset: 277;
    animation: line-anim 6s ease forwards;

}
#logo path:nth-child(10) {
    stroke-dasharray: 225;
    stroke-dashoffset: 225;
    animation: line-anim 7s ease forwards;

}
#logo path:nth-child(11) {
    stroke-dasharray: 214;
    stroke-dashoffset: 214;
    animation: line-anim 7s ease forwards;

}
#logo path:nth-child(12) {
    stroke-dasharray: 225;
    stroke-dashoffset: 225;
    animation: line-anim 2s ease forwards;

}
#logo path:nth-child(13) {
    stroke-dasharray: 144;
    stroke-dashoffset: 144;
    animation: line-anim 2s ease forwards;

}
#logo path:nth-child(14) {
    stroke-dasharray: 144;
    stroke-dashoffset: 144;
    animation: line-anim 2s ease forwards;

}
#logo path:nth-child(15) {
    stroke-dasharray: 144;
    stroke-dashoffset: 144;
    animation: line-anim 2s ease forwards;

}
#logo path:nth-child(16) {
    stroke-dasharray: 144;
    stroke-dashoffset: 144;
    animation: line-anim 2s ease forwards;

}
#logo path:nth-child(17) {
    stroke-dasharray: 144;
    stroke-dashoffset: 144;    
    animation: line-anim 2s ease forwards;

}
#logo path:nth-child(18) {
    stroke-dasharray: 144;
    stroke-dashoffset: 144;    
    animation: line-anim 2s ease forwards;

}
#logo path:nth-child(19) {
    stroke-dasharray: 144;
    stroke-dashoffset: 144;
    animation: line-anim 2s ease forwards;

}
#logo path:nth-child(20) {
    stroke-dasharray: 144;
    stroke-dashoffset: 144;
    animation: line-anim 2s ease forwards;

}
#logo path:nth-child(21) {
    stroke-dasharray: 244;
    stroke-dashoffset: 244;
    animation: line-anim 2s ease forwards;

}
#logo path:nth-child(22) {
    stroke-dasharray: 240;
    stroke-dashoffset: 240;
    animation: line-anim 2s ease forwards;

}
#logo path:nth-child(23) {

}
#logo path:nth-child(24) {

}
#logo path:nth-child(25) {

}
#logo path:nth-child(26) {

}
#logo path:nth-child(27) {

}
@keyframes line-anim {
    to {
        stroke-dashoffset: 0;
    }
}